body{
    /* Set a gradient background from purple to teal */
    background: linear-gradient(to right, #6a3093, #a044ff, #5b5b5b);
    font-family: Arial,sans-serif;
    color: white;
    padding: 2px;
    margin: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
h1 {
    font-size: 2em;
    text-align: center;
}
h2{
    font-size: 2em;
    text-align: center;
}   

h3{
    font-size: 2em;
    text-align: center;

}
h6{
    font-size: 2em;
    text-align: center;

}